$headerBackPic: url(../img/m-h-night.jpg);
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif; 
$fontSans: 'Source Sans Pro', sans-serif;

$colors: (
    mainFont: #fff,
    container: #3b3f50,
    button: #e3ac00,
    highlight: #ff4e33,
    main: #2c2f3c,
    whit:#fff
);