$headerBackPic: url(../img/m-h-day.jpg);
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif; 
$fontSans: 'Source Sans Pro', sans-serif;

$colors: (
    mainFont: #2c2f3c,
    container: #21232e,
    button: #699900,
    highlight: #14a0c7,
    main: #fff,
    whit:#fff
);

